<div class="jumbotron">
    <h1>Electrolux GSA Fake</h1>
    <p class="lead">Google Search Appliance has been discontinued. </p>
    <p><a href="https://enterprise.google.com/search/products/gsa.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Next step</h2>
        <p>
            Move your Electrolux website over to a new Search Provider. Contact Electrolux IT - Marketing of Excellence for further information.
        </p>
        
    </div>
</div>
